html{
    position: relative;
    min-height: 100%;   /*Is set to put footer at bottom everywhere*/
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Lucida Console", serif;
}

body{
    
    background-color: rgb(100, 100, 100);
    /*Also set to keep footer at bottom I think*/
    padding-bottom: 100px;
}

.nav{
    /*Rules set for the navigationbar*/
    background-color: rgb(45, 45, 45);
    font-size: 2em;
    padding: 20px;
    min-width: 320px;
    max-height: 200px;
}

.search{
    /* Rules for the searchbar... or something... */
    padding-top: 12px;
    float: right;
    margin-right: 80px;
}

.logout-box{
    width: 90px;
    height: 50px;
}

/* Not sure if needed... soo many ruuules o.o
.btn-group{
    display: flex;
    flex-direction: row-reverse;
}
*/

.formLogOut {
    /* Rulses set to align logout button to the menu */
    position: absolute;
    top: 13px;
    left: 0px;
}

.formRegister{
    /* Rules set to align and set the form for registering a new account/login */
    position: absolute;
    display: inline-block;
    max-width: 475px;
    color: #EEEDDD;
    width: 100%;
    top: 15px;

}

.formRegister .btn{
    /* Rules to align button for registerng a new account/login */
    margin: 0px;
    width: 100%;
}


.form-background{
    /* Rules set to stylize the background & border of registration/login forms*/
    border-spacing: 1px;
    border-radius: 5px;
    border-style: double;
    border-color: #CFB53B;
    padding-left: 70px;
    padding-bottom: 5px;
    background-color: rgb(80, 80, 80);
}

.formPost{
    /* Rules set to stylize the form for registering a new account */
    display: inline-block;
    margin: 0px 0px 0px 0px;
    max-width: 475px;
    padding-left: 10px;
}

h1#title-big{
    /* Have no fucking clue what dis does... */
    max-width: 75%;
    text-align: center;
    margin: auto;
    font-size: 6vw;
    margin-top: 
}

h2#title-small{
    /*... or this one either */
    color: white;
    font-style: italic;
    text-align: center;
    margin: auto;
    font-size: 5vw;
}

h2#searched{
    text-align: center;
}

h2#myname{
    text-align: center;
}

.glyphicon {
    /* For Bootstrap glyphicons */
    margin: 0px 0px 0px 15px;
}

.btn{
    /* An unnecessary necessary rule for ALL buttons */
    margin: 0px 0px 0px 15px;
}

.btn-login{
    /* Rules to align button for the login-form */
    margin-top: 12px;
}


#rowRev{
    /* Think it's for reversing some sort of flow... */
    display: flex;
    flex-direction: row-reverse;
}

form{
    /* One more unnecessary necessay selector selecting ALL forms... */
    display: flex;
    position: absolute;
    max-width: 475px;
}

.panelCust{
    /* Custom selector for rules set to the posts */
    margin: 20px 20px 20px 5.5%;
    font-size: 1.2em;
    height: 400px;
    overflow: hidden;
}

/*--------------------------------------------------------------------------------*/
/* From here down to postCont are selectors for aligning and stylizing the posts */
/*------------------------------------------------------------------------------*/

.panel-title {
	padding: 15px;
}

.panel-body{
    overflow: hidden;
    word-break: keep-all;
    max-height: 280px;
    height: 50%;
}

.postTitle{
    font-size: 2em;
    height: 25%;
    overflow: hidden;
}

.postStatis{
    text-align: center;
    color: black;
}

.postBod{
    margin-top: 20px;
    margin-left: 5px;
}

.glyphicon-thumbs-up{
/*    background-color: green;*/
    padding: 5px;
    border-radius: 15px;
}

.glyphicon-thumbs-down{
/*    background-color: crimson;*/
    padding: 5px;
    border-radius: 15px;
}

.postColFix{
    /* Color fix for posts... or something */
    background-color: rgb(45, 45, 45);
    color: white;
}

.postBody {
    overflow: visible;
}

.postCont{
    text-align: justify;
}

.postbox{
    margin-top: 20px;
}

form h4{
    /*Just sets fontsize for the text that displays you need to login to comment */
    font-size: 1.8em;
}

.top-buffer {
    /* Rule to add margin to the comment-flow */
    margin-top: 200px;
}

.commentForm{
    /* Rule for aligning the comment-form*/
    width: 100%;
}

.btn-likeNdislike{
    /* Rules set to align like and dislike buttons in the posts */
    width: 100%;
    min-width: 100px;
    max-width: 100px;
    height: 20%;
    font-size: 1.6em;
}

div h5{
    /* Stylizes text that displays when you are not logged in and can't comment*/
    font-size: 2em;
    text-align: center;
}

.managePostCont {
    /* Rule set to add some... puff to the comments of the posts */
    padding-bottom: 10px;
}

table{
    /* Rules set to stylize the table in categories */
    font-size: 1.4em;
    min-width: 655px;
}

th{
    width: 30%;
}

footer{
    /* Rules set for the footer... duh..*/
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    margin-bottom: -150px;
    background-color: rgb(45, 45, 45);
    color: white;
    font-size: 18px;
}

footer ul{
    /* Rules set for the list in the footer */
    margin-top: 20px;
    text-align: center;
    list-style: none;
}

::-webkit-input-placeholder {
   font-style: italic;
}

/* Downwards are rules set to manage the navbar at different screensizes */

@media screen and (max-width: 390px) {

    .nav{
        margin-left: -10px;
    }

    .search{
        float: left;
    }
}

@media screen and (max-width: 420px) {
    .search{
        max-width: 333px;
    }

}

@media screen and (max-width: 495px) {

    .nav{
        font-size: 1em;
        padding: 5px;
    }
}


@media screen and (max-width: 540px) {

    .search{
        float: left;
    }
}

@media screen and (min-width: 700px) {
    h1#title-big{
        font-size: 4vw;
    }

    h2#title-small{
        font-size: 3vw;
    }
}

@media screen and (min-width: 900px) {

    h1#title-big{
        font-size: 3vw;
    }

    h2#title-small{
        font-size: 2vw;
    }
}

@media screen and (max-width: 1200px){

    .panelCust{
        height: 300px;
}

    .panel-body{
        height: 60%;
    }

    .dislike{

        margin-top: -43px;
    }
}

@media screen and (max-width: 550px){
    .panelCust{
        height: 400px;
    }

    .panel-body{
        height: 60%;
    }
}

