<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block Title%}Society's Most Wanted{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'smw/style.css' %}">
  </head>
  <body>
    <!-- create base html structure -->
    <!-- Create navbar -->
    <nav>
      <div class="navbar">
        <a href="{% url 'smw:index' %}">SMW</a>
        <a href="{% url 'smw:flow' %}">Flow</a>
        <a href="{% url 'smw:categories' %}">Categories</a>
        {% if request.user.is_authenticated %}
        <a href="{% url 'smw:create' %}">Create</a>
        <a href="{% url 'userAuth:user' request.user.pk %}">@ME</a>
        {% include 'userAuth/logout_form.html' %}

        {%endif%}
      </div>
      <form class="" role="search" method="post" action="{% url 'smw:search' %}">
            {% csrf_token %}
            <div class="">
              <input type="text" name="q" value="" class="">
            </div>
            <button type="submit" name="button" class="">Search</button>
        </form>
    </nav>
    <section>


    {% block body %}
    {% endblock %}
    </section>
    <!-- Create Footer-->
    <footer></footer>
  </body>
</html>
