<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block Title %}Society's Most Wanted{% endblock %}</title>
        {% load staticfiles %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- Bootstrap CDN import -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'smw/style.css' %}"/>
    </head>
    <body>
        <!-- create base html structure -->
        <!-- Create navbar -->

        <ul class="nav nav-pills">
            <li role="presentation"><a href="{% url 'smw:index' %}">SMW</a></li>
            <li role="presentation"><a href="{% url 'smw:flow' %}">Flow</a></li>
            <li role="presentation"><a href="{% url 'smw:categories' %}">Categories</a></li>

            {% if request.user.is_authenticated %}
            <li><a href="{% url 'smw:create' %}">Create</a></li>
            <li><a href="{% url 'attest:detail' request.user.pk %}">@ME</a></li>
            <li>{% include 'attest/logout_form.html' %}</li>
            {%else%}

            
            <li><a class="btn btn-login btn-primary" href="{% url 'attest:lgn'%}">Login</a>
            </li>
          
            {%endif%}

            <form class="col-lg-6 col-md-4 col-sm-4 col-xs-4 search" role="search" method="post" action="{% url 'smw:search' %}">
            {% csrf_token %}
            <input type="text" name="q" class="form-control search-field">
            <button type="submit" name="button" class="btn btn-primary">Search</button>
            </form>

        </ul>
        
            {% block body %}
            {% endblock %}


        <!-- Create Footer-->
        <footer>
            <ul>
                <li><a href="{% url 'smw:about' %}">ABOUT</a></li>
                <li><a href="#">SUPPORT</a></li>
                <li>CREATED BY 4 LAZY SWEDES</li>
                <li>THANKS FOR VISITING OUR SITE</li>
            </ul>
        </footer>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
