<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block Title%}Society's Most Wanted{% endblock %}</title>
        {% load staticfiles %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'smw/style.css' %}"/>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>
    <body>
        <!-- create base html structure -->
        <!-- Create navbar -->
        <nav>
            <div class="navbar">
                <a href="{% url 'smw:index' %}" class="navItem">SMW</a>
                <a href="{% url 'smw:flow' %}" class="navItem">Flow</a>
                <a href="{% url 'smw:categories' %}" class="navItem">Categories</a>

                {% if request.user.is_authenticated %}

                <a href="{% url 'smw:create' %}">Create</a>
                <a href="{% url 'userAuth:user' request.user.pk %}">@ME</a>

                {% include 'userAuth/logout_form.html' %}

                {%endif%}
                <!--<a href="{% url 'smw:create' %}">Create</a>-->
            </div>

            <div id="formCont">
                <form class="formSearch" role="search" method="post" action="{% url 'smw:search' %}">

                    {% csrf_token %}

                    <input id="searchBar" type="text" name="q" value="">

                    <button type="submit" name="button" class="button">Search</button>

                </form>
            </div>
        </nav>

        <div id="sectCont">
            <section>
                {% block body %}
                {% endblock %}
            </section>
        </div>
        <!-- Create Footer-->
        <footer>
            <ul id="footerList">
                <li><p>CREATED BY 4 LAZY SWEDES</p></li>
                <li><a href="{% url 'smw:about' %}">ABOUT</a></li>
                <li><a href="">SUPPORT</a></li>
                <li><p>THANKS FOR VISITING OUR SITE</p></li>
            </ul>
        </footer>
    </body>
</html>
