{% extends 'smw/base.html' %}
{% block body %}

<!--
Write your html Here!
-->
{% if q %}
<h2>You searched for "{{q}}"</h2>
{% endif %}

{% if category %}
{% if category.Background_Image %}
<img src="{{category.Background_Image.url}}" alt="Background_Image"/>
{% endif %}
{% endif %}
{% for idea in object_list %}

<div class="panel panel-default col-md-3 panelCust">
    <p class="panel panel-title col-md-12 title"><a href="{% url 'smw:idea' idea.pk %}">                   {{idea.Title}}</a></p>
    <div class="panel-body">
        <p>{{idea.Idea}}</p>
    </div>
    <!-- Hey, haha I have made a ugly solution for centering the stats with a center-tag -->
    <center>
        <div class="panel panel-default col-md-12">
            <p class="glyphicon glyphicon-thumbs-up">{{idea.Wants}}</p>
            <p class="glyphicon glyphicon-thumbs-down">{{idea.Shlts}}</p>
            <p class="glyphicon glyphicon-eye-open">{{idea.Views}}</p>
            <p class="glyphicon glyphicon-comment">{{idea.comment_count}}</p>
        </div>
    </center>
</div>

{% endfor %}

{% endblock %}
