{% extends 'smw/base.html' %}
{% block body %}

<!--
Write your html Here!
-->

<!-- Idea-->

<h2>{{post.Title}}</h2>
<p>{{post.Idea}}</p>

<!-- This solution with the colors is temporary, will be updated later //Petri -->
<a href="{% url 'attest:detail' post.User.pk %}">@{{post.User.username}}</a>
<p class="glyphicon glyphicon-thumbs-up glyph"> {{post.Want_count}}</p> 
<p class="glyphicon glyphicon-thumbs-down glyph2"> {{post.Shlt_count}}</p> 
<p class="glyphicon glyphicon-eye-open"> {{post.Views}}
<p>Uploaded {{post.Post_Date}}</p>

<!-- comment-->
{% if request.user.is_authenticated%}

    <h4>Comment!</h4>

    
        <form class="col-lg-1 postForms" action="{% url 'smw:want' post.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" name="button" class="btn btn-primary">Like</button>
        </form>

        <form class="col-lg-1 postForms" action="{% url 'smw:shlt' post.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" name="button" class="btn btn-primary">Dislike</button>
        </form>

        <form class="col-lg-1 postForms" action="{% url 'smw:comment' post.pk %}" method="post">
            {% csrf_token %}
                <input type="text" name="comment" value="" >
            <button type="submit" name="button" class="btn btn-primary">Comment</button>
        </form>

{% else %}
<h5>Login to Comment!</h5>
{% endif%}

<!-- Comments-->
{% for comment in comments %}
<a href="{% url 'attest:detail' comment.User.pk %}">@{{comment.User.username}}</a>
<p>{{comment.Text}}</p>

<p>{{comment.Post_Date}}</p>

{% endfor %}

{% endblock%}
