{% extends 'smw/base.html' %}
{% block body %}

{%if request.user == post.User %}
<a href="{% url 'smw:update_post' post.pk %}">edit</a>
{%endif%}
<!-- comment-->


{% if request.user.is_authenticated%}

<div class="container col-lg-8 col-lg-offset-2">
    <form class="container col-lg-1" action="{% url 'smw:want' post.pk %}" method="post">
        {% csrf_token %}
        <button type="submit" name="button" class="btn btn-success">Like</button>
    </form>

    <form class="container col-lg-1" action="{% url 'smw:shlt' post.pk %}" method="post">
        {% csrf_token %}
        <button type="submit" name="button" class="btn btn-danger">Dislike</button>
    </form>
</div>
<!-- Form containing the input-field and the submit button for submitting comment -->
<form class="container col-lg-1" action="{% url 'smw:comment' post.pk %}" method="post">
    {% csrf_token %}
    <h4>Comment!</h4>
    <input type="text" placeholder="Comment" name="comment">
    <button type="submit" name="button" class="btn btn-primary">Comment</button>
</form>
{% else %}
<h5>Login to Comment!</h5>
{% endif%}

<!-- The actual comment itself-->
{% for comment in comments %}
<div class="container">
    <div>
        <a href="{% url 'attest:detail' comment.User.pk %}">@{{comment.User.username}}</a>
        <p>{{comment.Post_Date}}</p>
    </div>
    <p>{{comment.Text}}</p>
</div>
    {% endfor %}

{% endblock%}
