{% extends 'smw/base.html' %}
{% block body %}

<!--
Write your html Here!
-->

<div id="titleCont">
    <h1>WELCOME TO "SOCIETY'S MOST WANTED" A SITE FOR SPREADING IDEAS</h1>
</div>

<form id="loginCont">
{% if request.user.is_authenticated %}

{% else %}
<label>Username Password</label>
{% include 'userAuth/login_form.html' %}
{% endif %}
</form>

<hr>
<br>

{% for idea in object_list %}

<div class="card">
    <a href="{% url 'smw:idea' idea.pk %}">{{idea.Title}}</a>
    <p>
        {{idea.Idea}}
    </p>

    <p>
        w{{idea.Wants}} s{{idea.Shlts}} v{{idea.Views}} c{{idea.comment_count}}
    </p>
</div>

{% endfor %}
<br>
<hr>

{% endblock%}
