{% extends 'smw/base.html' %}
{% block body %}

<head>
    <link rel="stylesheet" type="text/css" href="../../static/smw/style.css">
</head>

<!--
Write your html Here!
-->

<div class="page-header col-md-8 col-md-offset-2">
    <h1>WELCOME TO "SOCIETIES MOST WANTED" <small>A SITE FOR SPREADING IDEAS</small></h1>
</div>


{% for idea in object_list %}
<div class=" panel panel-default col-lg-3 col-md-5 col-sm-11 col-xs-11 panelCust">
    <p class="panel panel-title  title"><a href="{% url 'smw:idea' idea.pk %}">{{idea.Title}}</a></p>
    <div class="panel-body">
        <p>{{idea.Idea}}</p>
    </div>
    <center>
        <div class="panel panel-default col-md-11">
            <p class="glyphicon glyphicon-thumbs-up"> {{idea.Wants}}</p>
            <p class="glyphicon glyphicon-thumbs-down"> {{idea.Shlts}}</p>
            <p class="glyphicon glyphicon-eye-open"> {{idea.Views}}</p>
            <p class="glyphicon glyphicon-comment"> {{idea.comment_count}}</p>
        </div>
    </center>
</div>
{% endfor %}

{% endblock%}
