{% extends 'smw/base.html' %}
{% block body %}

<!--
Write your html Here!
-->
    <h3>some text</h3>
    {% if request.user.is_authenticated %}

    {% else %}
      {% include 'userAuth/login_form.html' %}
    {% endif %}
<hr>
    {% for idea in object_list %}
    <div class="card">
      <a href="{% url 'smw:idea' idea.pk %}">{{idea.Title}}</a>
      <p>
        {{idea.Idea}}
      </p>

      <p>
        w{{idea.Wants}} s{{idea.Shlts}} v{{idea.Views}} c{{idea.comment_count}}
      </p>
    </div>
    {% endfor %}
<hr>


{% endblock%}
