{% extends 'smw/base.html' %}
{% block body %}

<!--
Write your html Here!
-->

<!-- Idea-->
<h2>{{object.Title}}</h2>
<p>
  {{object.Idea}}
</p>
<a href="{% url 'attest:detail' post.User.pk %}">@{{post.User.username}}</a>
<p>
  w{{object.Want_count}} s{{object.Shlt_count}} v{{object.Views}} Uploaded {{object.Post_Date}}
</p>

{%if request.user == post.User %}
<a href="{% url 'smw:update_post' post.pk %}">edit</a>
<form class="col-lg-4" action="{% url 'smw:delete' post.pk %}" method="post">
  {% csrf_token %}
  <button type="submit" name="button" class="btn btn-danger">Delete</button>
</form>
{%endif%}
<!-- comment-->
{% if request.user.is_authenticated%}

<form class="col-lg-4" action="{% url 'smw:want' post.pk %}" method="post">
  {% csrf_token %}
  <button type="submit" name="button" class="btn btn-success">Like</button>
</form>

<form class="col-lg-4" action="{% url 'smw:shlt' post.pk %}" method="post">
  {% csrf_token %}
  <button type="submit" name="button" class="btn btn-danger">Dislike</button>
</form>

<h4>Comment!</h4>
<form class="col-lg-4" action="{% url 'smw:comment' post.pk %}" method="post">
  {% csrf_token %}
  <input type="text" name="comment" class="form-control">
  <button type="submit" name="button" class="btn btn-primary">Comment</button>
</form>
{% else %}
<h5>Login to Comment!</h5>
{% endif%}

<!-- Comments-->
{% for comment in object.comment_set.all %}
<a href="{% url 'attest:detail' comment.User.pk %}">@{{comment.User.username}}</a>
  <p>
    {{comment.Text}}
  </p>

  <p>
    {{comment.Post_Date}}
  </p>
{% endfor %}

{% endblock%}
