<form class="form-inline formLogin" action="{% url 'attest:login' %}" method="post">
  {% csrf_token %}
  <div class="form-group col-sm-5">
    <label class="sr-only" for="usr">Username</label>
    <input type="text" class="form-control" name="username" placeholder="Enter username">
  </div>
  <div class="form-group col-sm-5">
    <label class="sr-only" for="pwd">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary" name="button">Login</button>
</form>
